:root {
  --routeDelay: 1000ms;
}

#root {
  height: 100%;
  max-width: 100%;
}

html,
body {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.p-toast .p-toast-message .p-toast-message-content {
  /* Prime-React Toast Override (Extra space on the left? */
  border-left: 0px;
}

.absolute-funbag {
  width: 100%;
  max-width: 28rem;
  position: absolute;
}

.page-appear {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}

.page-appear-active {
  opacity: 1;
  transform: translateY(0rem);
  /* we MUST put !important here so react finishes animating out the first transition before starting the old */
  /* transition-delay: var(--routeDelay) !important; */
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}

.page-appear-done {
  transform: translateY(0rem);
}

.page-enter {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0rem);
  /* we MUST put !important here so react finishes animating out the first transition before starting the old */
  /* transition-delay: var(--routeDelay) !important; */
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}

.page-enter-done {
  transform: translateY(0rem);
}

.page-exit {
  opacity: 1;
  transform: translateY(0rem);
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-2rem);

  transition: opacity var(--routeDelay), transform var(--routeDelay);
}