:root {
  --routeDelay: 500ms;
}

#root {
  height: 100%;
  max-width: 100%;
}

html,
body {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

var(--animationDelay): 2000mx;

.p-toast .p-toast-message .p-toast-message-content {
  /* Prime-React Toast Override (Extra space on the left? */
  border-left: 0px;
}

.absolute-funbag {
  width: 100%;
  max-width: 28rem;
  position: absolute;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  /* we MUST put !important here so react finishes animating out the first transition before starting the old */
  transition-delay: var(--routeDelay) !important;
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity var(--routeDelay), transform var(--routeDelay);
}